@import "tailwindcss";

@layer base {
  html {
    background-color: var(--color-primary);
  }
}

@theme {
  --color-primary: #F7F6E6;
  --color-ceramics: #5D5246;
  --color-clay: #7F6F64;
  --color-interaction: #EBE6D5;
  --color-point: #CCB9A7;
  --font-abc-diatype: "ABC Diatype";
  --font-space-grotesk: "Space Grotesk";
  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --height-footer: 727px;
}

@font-face {
  font-family: "ABC Diatype";
  src: local("ABC Diatype"), url("./assets/fonts/ABC-Diatype/abc-diatype-regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC Diatype";
  src: local("ABC Diatype"), url("./assets/fonts/ABC-Diatype/abc-diatype-bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .footer-bg {
    position: relative;
    overflow: hidden;
  }

  .footer-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(129, 109, 91, 0.8), rgba(129, 109, 91, 0.8)), url("./assets/images/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    filter: blur(12px);
    transform: rotate(-180deg) scale(1.2);
    transform-origin: center;
    pointer-events: none;
    z-index: 0;
  }

  .footer-bg > * {
    position: relative;
    z-index: 1;
  }

  .logo-primary {
    background-color: var(--color-primary);
    -webkit-mask: url("./assets/images/oli-logo.png") no-repeat center;
    mask: url("./assets/images/oli-logo.png") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}